@import "tailwindcss";
@import "tailwindcss/preflight.css" layer(base);

@theme {
    --color-rosewater-500: #f2d5cf;
    --color-flamingo-500: #eebebe;
    --color-pink-500: #f4b8e4;
    --color-mauve-500: #ca9ee6;
    --color-red-500: #e78284;
    --color-maroon-500: #ea999c;
    --color-peach-500: #ef9f76;
    --color-yellow-500: #e5c890;
    --color-green-500: #a6d189;
    --color-teal-500: #81c8be;
    --color-sky-500: #99d1db;
    --color-sapphire-500: #85c1dc;
    --color-blue-500: #8caaee;
    --color-lavender-500: #babbf1;
    --color-text-500: #c6d0f5;
    --color-subtext1-500: #b5bfe2;
    --color-subtext0-500: #a5adce;
    --color-overlay2-500: #949cbb;
    --color-overlay1-500: #838ba7;
    --color-overlay0-500: #737994;
    --color-surface2-500: #626880;
    --color-surface1-500: #51576d;
    --color-surface0-500: #414559;
    --color-base-500: #303446;
    --color-mantle-500: #292c3c;
    --color-crust-500: #232634;


    --color-wingray-500: #818181;
    --color-winlightgray-500: #c3c3c3;
    --color-winwhite-500: #fdffff;
    --color-winblue-500: #010081;
    --color-winteal-500: #008080;
    --color-winblack-500: #000000;
    --color-winpink-500: #ff0081;
    --color-wininfo-500: #ffffcc;
    --color-wininfo-200: #ccccba;

}